.component {
  height: 1126px;
  left: 1191px;
  position: relative;
  top: 125px;
  width: 698px;

  .rectangle {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #00000026;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 95.99%;
  }

  .div {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #00000026;
    height: 20.43%;
    left: 0;
    position: absolute;
    top: 78.51%;
    width: 95.99%;
  }

  .rectangle-2 {
    background-color: #ffffff;
    box-shadow: 0px 4px 9px #00000014;
    height: 2.75%;
    left: 0;
    position: absolute;
    top: 11.46%;
    width: 95.99%;
  }

  .text-wrapper {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 15px;
    font-weight: 500;
    height: 0;
    justify-content: center;
    left: 24.79%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11.63%;
    white-space: nowrap;
    width: 8.02%;
  }

  .text-wrapper-2 {
    align-items: center;
    color: #696969;
    display: flex;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 0;
    justify-content: center;
    left: 10.32%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11.63%;
    white-space: nowrap;
    width: 4.01%;
  }

  .text-wrapper-3 {
    align-items: center;
    color: #696969;
    display: flex;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 0;
    justify-content: center;
    left: 43.70%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11.63%;
    white-space: nowrap;
    width: 4.01%;
  }

  .text-wrapper-4 {
    align-items: center;
    color: #696969;
    display: flex;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 0;
    justify-content: center;
    left: 57.16%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11.63%;
    white-space: nowrap;
    width: 8.02%;
  }

  .rectangle-3 {
    background-color: #272727;
    height: 0;
    left: 22.35%;
    position: absolute;
    top: 14.12%;
    width: 13.47%;
  }

  .text-wrapper-5 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 0;
    left: 15.90%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6.04%;
    white-space: nowrap;
    width: 16.48%;
  }

  .text-wrapper-6 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 21px;
    font-weight: 500;
    height: 0;
    left: 4.87%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81.79%;
    white-space: nowrap;
    width: 32.23%;
  }

  .rectangle-4 {
    border: 1px solid;
    border-color: #222222;
    height: 3.20%;
    left: 4.87%;
    position: absolute;
    top: 85.17%;
    width: 15.76%;
  }

  .group {
    height: 3.20%;
    left: 21.51%;
    position: absolute;
    top: 85.17%;
    width: 37.10%;
  }

  .rectangle-5 {
    border: 1px solid;
    border-color: #222222;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 99.23%;
  }

  .text-wrapper-7 {
    color: #222222;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 50.00%;
    left: 4.80%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27.78%;
    width: 64.07%;
  }

  .rectangle-6 {
    border: 1px solid;
    border-color: #222222;
    height: 3.20%;
    left: 59.31%;
    position: absolute;
    top: 85.17%;
    width: 17.62%;
  }

  .group-2 {
    height: 3.20%;
    left: 77.94%;
    position: absolute;
    top: 85.17%;
    width: 12.61%;
  }

  .rectangle-7 {
    border: 1px solid;
    border-color: #222222;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 97.73%;
  }

  .text-wrapper-8 {
    color: #222222;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 50.00%;
    left: 17.93%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27.08%;
    width: 63.10%;
  }

  .text-wrapper-9 {
    color: #333333;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 17px;
    font-weight: 300;
    height: 0;
    left: 87.25%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 85.88%;
    white-space: nowrap;
    width: 0;
  }

  .text-wrapper-10 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 0;
    left: 60.60%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 85.97%;
    white-space: nowrap;
    width: 28.37%;
  }

  .text-wrapper-11 {
    color: #222222;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 0;
    left: 6.59%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 86.06%;
    width: 11.32%;
  }

  .icon-instance {
    height: 0 !important;
    left: 16.80% !important;
    position: absolute !important;
    top: 86.15% !important;
    width: 2.01% !important;
  }

  .text-wrapper-12 {
    color: #464646;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 0;
    left: 71.35%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 86.15%;
    white-space: nowrap;
    width: 5.87%;
  }

  .vector {
    height: 0;
    left: 79.94%;
    object-fit: cover;
    position: absolute;
    top: 86.81%;
    width: 0;
  }

  .text-wrapper-13 {
    color: #464646;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 0;
    left: 84.67%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 90.85%;
    white-space: nowrap;
    width: 5.87%;
  }

  .h {
    display: flex;
    height: 3.11%;
    left: 74.36%;
    position: absolute;
    top: 92.98%;
    width: 12.75%;
  }

  .h-2 {
    color: #000000;
    flex: 1;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    width: 112px;
  }

  .frame {
    align-items: center;
    display: flex;
    gap: 14px;
    height: 0;
    left: 5.44%;
    position: absolute;
    top: 18.65%;
    width: 73.21%;
  }

  .text-wrapper-14 {
    color: #323232;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }

  .rectangle-8 {
    background-color: #939393;
    height: 15px;
    position: relative;
    width: 1px;
  }

  .text-wrapper-15 {
    color: #858585;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }

  .text-wrapper-16 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 0;
    left: 5.44%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5.15%;
    white-space: nowrap;
    width: 65.62%;
  }

  .rectangle-9 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    height: 24.78%;
    left: 50.00%;
    position: absolute;
    top: 22.74%;
    width: 40.54%;
  }

  .rectangle-10 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    height: 24.78%;
    left: 50.00%;
    position: absolute;
    top: 49.91%;
    width: 40.54%;
  }

  .rectangle-11 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    height: 24.78%;
    left: 5.30%;
    position: absolute;
    top: 22.74%;
    width: 40.54%;
  }

  .rectangle-12 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    height: 24.78%;
    left: 5.30%;
    position: absolute;
    top: 49.91%;
    width: 40.54%;
  }

  .image {
    height: 13.68%;
    left: 5.44%;
    object-fit: cover;
    position: absolute;
    top: 22.65%;
    width: 40.26%;
  }

  .p {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 0;
    left: 7.74%;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 37.74%;
    white-space: nowrap;
    width: 36.39%;
  }

  .text-wrapper-17 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 0;
    left: 52.87%;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 37.74%;
    white-space: nowrap;
    width: 35.39%;
  }

  .text-wrapper-18 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 0;
    left: 8.31%;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 64.83%;
    white-space: nowrap;
    width: 34.96%;
  }

  .text-wrapper-19 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 0;
    left: 52.72%;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 64.92%;
    white-space: nowrap;
    width: 34.24%;
  }

  .group-3 {
    height: 0;
    left: 26.93%;
    position: absolute;
    top: 44.05%;
    width: 28.94%;
  }

  .text-wrapper-20 {
    color: #000000;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 92.31%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 98.02%;
  }

  .text-wrapper-21 {
    color: #464646;
    font-family: "Noto Sans KR", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 69.23%;
    left: 41.09%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30.77%;
    white-space: nowrap;
    width: 20.30%;
  }

  .group-4 {
    height: 0;
    left: 26.93%;
    position: absolute;
    top: 71.23%;
    width: 28.94%;
  }

  .group-5 {
    height: 0;
    left: 71.63%;
    position: absolute;
    top: 44.05%;
    width: 28.94%;
  }

  .group-6 {
    height: 0;
    left: 71.49%;
    position: absolute;
    top: 71.23%;
    width: 28.94%;
  }

  .img {
    height: 13.68%;
    left: 50.00%;
    object-fit: cover;
    position: absolute;
    top: 22.74%;
    width: 40.40%;
  }

  .image-2 {
    height: 13.68%;
    left: 5.30%;
    object-fit: cover;
    position: absolute;
    top: 49.91%;
    width: 40.54%;
  }

  .image-3 {
    height: 13.59%;
    left: 50.14%;
    object-fit: cover;
    position: absolute;
    top: 49.91%;
    width: 40.40%;
  }

  .image-4 {
    aspect-ratio: 1.9;
    height: 20px;
    left: 7.74%;
    object-fit: cover;
    position: absolute;
    top: 477px;
    width: 5.44%;
  }

  .image-5 {
    aspect-ratio: 1.9;
    height: 20px;
    left: 7.74%;
    object-fit: cover;
    position: absolute;
    top: 783px;
    width: 5.44%;
  }

  .image-6 {
    aspect-ratio: 1.9;
    height: 20px;
    left: 52.58%;
    object-fit: cover;
    position: absolute;
    top: 477px;
    width: 5.44%;
  }

  .image-7 {
    aspect-ratio: 1.9;
    height: 20px;
    left: 52.72%;
    object-fit: cover;
    position: absolute;
    top: 783px;
    width: 5.44%;
  }

  .group-7 {
    height: 0;
    left: 87.25%;
    position: absolute;
    top: 3.20%;
    width: 2.15%;
  }

  .vector-2 {
    height: 100.00%;
    left: -4.71%;
    position: absolute;
    top: -4.71%;
    width: 100%;
  }
}