@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};


.custom-scheduleType-recommendschedule {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 50px;

  .schedule__table__wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    white-space: pre-line;
    line-height: 25px;

    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
    .schedule__header {
      display: flex;
      align-items: center;
      gap: 1.5vw;
      padding: 1vw 3.5vw;
      background-color: rgba(248, 248, 248, 1);
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      

      @media (max-width: 800px) {
        padding: 13px 20px 10px 20px;
        gap: 20px;
      }
      .main__text {
        font-size: clamp(19px, 1.3vw, 25px);
        font-weight: 700;
        line-height: 1;
      
      }
      .sub__text {
        font-size: clamp(15px, 1.1vw, 21px);
        line-height: 1;
        color: rgba(0, 0, 0, 1);
      }
    }


    .schedule__main__wrapper {
      padding: 0 30px;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      
      .schedule__element__wrapper {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
        border-left: 1px dotted rgba(180, 180, 180, 1);

        .flight__schedule__board__wrapper {
          @media (min-width: 800px) {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 1.5vw 0;
          }
          .flight__schedule__board {
            display: flex;
            flex-direction: column;
            width: 40%;
            .flight__info__wrapper {
              display: flex;
              width: 100%;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              padding-bottom: 20px;
              border-bottom: 1px solid rgba(0, 0, 0, 1);
              img {
                max-width: 100px;
                max-height: 30px;
              }
              span {
                font-size: 16px;
                color: #333;
              }
            }
            .flight__time__wrapper {
              display: flex;
              justify-content: center;
              margin-top: 0.5vw;
              position: relative;
              .flight__time {
                color: #686868;
                font-size: 14px;
              }
              & > div {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                .time__text {
                  font-size: 25px;
                  font-weight: 700;
                }
                .airport__text {
                  font-size: 15px;
                }
                div {
                  width: 0.625vw;
                  height: 0.625vw;
                  border: 1px solid rgba(0, 0, 0, 1);
                  border-radius: 50%;
                  background-color: rgba(255, 255, 255, 1);
                  margin-bottom: 0.4vw;
                }
              }
              .depart__info {
                left: 0;
                transform: translate(-50%, -0.85vw);
              }
              .arrive__info {
                right: 0;
                transform: translate(50%, -0.85vw);
              }
            }
          }
        }

        .schedule__element__header__wrapper {
          border-left: 1px dotted rgba(180, 180, 180, 1);
          font-size: 16px;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          @media (max-width: 800px) {
            padding-top: 20px;
          }
          .schedule__location__wrapper {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            
            .location__absolute__wrapper {
              position: absolute;
              transform: translate(-50%, 0);
            }
            .location__text {
              padding-left: clamp(27px, 2.5vw, 57px);
              font-size: 20px;
              line-height: 1.3;
            }
          }
          .schedule__element__header {
            display: flex;
            align-items: center;
            @media (max-width: 800px) {
              padding-top: 10px;
            }
            .absolute__wrapper {
              position: absolute;
              transform: translate(-50%, 0);
              z-index: 3;

              .dot__icon {
                width: clamp(8px, 0.52vw, 10px);
                height: clamp(8px, 0.52vw, 10px);
                background-color: rgba(52, 52, 52, 1);
                border-radius: 50%;
              }
      
            }
            .schedule__text__wrapper {
              position: absolute;
              display: flex;
              margin-left: 30px;
              font-size: 18px;

              @media (max-width: 800px) {
                padding-left: clamp(27px, 2.5vw, 57px);
                flex-direction: column;
                gap: 0px;
                .time__text {
                  font-size: 20px;
                  font-weight: 700;
                }
              }
            }
          }

        }
        .schedule__element__main__wrapper {
          width: 100%;
          min-height: 200px;
          margin-top: 20px;
          margin-left: 30px;
          margin-right: 30px;
          border: 1px solid #ccc;
          display: flex;
          
          .image__wrapper {
            width: 30%;
            @include middle();

            .imagebox {
        
              img {
                
              }
            }
          }

          .table__wrapper {
            width: 70%;
            padding: 20px;

            .table__header {
              font-size: 18px;
              color: rgba(0, 0, 0, 1);
              margin-bottom: 10px;
            }
            .table__main {
              display: flex;
              flex-direction: column;
              
              .detailbox {
                
                .detailbox-name {
                  margin-bottom: 5px;
                }
                .detailbox-notice {
                  margin-bottom: 10px;
                  margin-left: 10px;
                  color: #969696;
                }
              }
            }
          }
        }


        
      }
    }

    .additional__schedule__wrapper {
      display: flex;
      border-bottom: 1px solid rgba(224, 224, 224, 1);

      &:last-child {
        border: none;
      }
      .index__wrapper {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7vw;
        padding: 0.7vw 0;
        @media (max-width: 800px) {
          padding: 8px 0;
          gap: 10px;
        }
        svg {
          width: clamp(23px, 1.84vw, 35px);
        }
        span {
          font-size: clamp(14px, 0.94vw, 18px);
          line-height: 1;
        }
      }
      & > div:last-child {
        display: flex;
        align-items: center;
        font-size: clamp(13px, 0.78vw, 15px);
        padding: 0 20px;
        color: rgba(51, 51, 51, 1);

        &.meal__info__wrapper {
          gap: 10vw;
          @media (max-width: 800px) {
            gap: 10px;
          }
        }
        &.additional__info__wrapper {
          display: flex;
          
          p {
            font-size: 14px;
            color: #ccc;
          }
          .additional__rating__wrapper {
            margin-left: 10px;

            .rating__board__wrapper {
              width: 100%;
              display: flex;
          
              .rating__icon {
                @include middle();
                
                .empty__star .filled__star {
                  width: 100%;
                  height: 100%;
                }
                .empty__star {
                  fill: rgba(119, 119, 119, 1);
                }
                .filled__star {
                  fill: rgba(252, 196, 0, 1);
                  z-index: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}