@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};



.dropdownBox {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
  height: 35px;
  outline: none;
  font-size: 14px;
}


.calendarbox_homepage {
  width: 100%;
  position: relative;
  display: flex; 
  align-items: center;
  box-sizing: border-box;

  .datebox {
    position: relative;
    width: 100%;
    position: relative;
    
     // 상단 입력창 부분
    .react-datepicker-wrapper {
      width: 100%;
      
      .react-datepicker__input-container {

        > input {
          width: 90%;
          font-size: 24px;
          font-weight: bold;
        }
        .react-datepicker__close-icon {
          position: absolute;
          right: 0px;
        }
        .react-datepicker__close-icon::after {
          background-color: #ccc;
        }
      }
    }
    // 달력 날짜 선택, 하단 모달창
    .react-datepicker__tab-loop {

      .react-datepicker-popper {

        .react-datepicker {
          position: absolute;
          top: 0;
          left: -200px;
          display: flex;
          justify-content: space-between;
          border: 1px solid #ccc;
          border-radius: 10px;

          // 왼쪽(지난달) 버튼
          .react-datepicker__navigation {
            margin: 10px;
            width: 30px;
            height: 30px;
          
            .react-datepicker__navigation-icon::before {
              border-color:  rgb(95, 183, 239);
              border-width: 2px 2px 0 0;
            }
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          // 달력 content
          .react-datepicker__month-container {
            width: 300px;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
          
            .react-datepicker__header {
              background-color: #fff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;

              // 월녁 타이틀
              .react-datepicker__current-month {
                height: 35px;
                color: #333;
              }
              // 년도 선택 드롭박스
              .react-datepicker__header__dropdown {
                position: absolute;
                top: 10px;
                right: 0;

                .react-datepicker__year-dropdown-container {

                  .react-datepicker__year-read-view {
                    
                    .react-datepicker__year-read-view--down-arrow {
                      border-color:  rgb(95, 183, 239);
                      border-width: 2px 2px 0 0;
                    }
                  }
                  .react-datepicker__year-dropdown {
                    width: 70px;
                    background-color: #fff;
                    .react-datepicker__year-option {
                      height: 30px;
                      font-size: 14px;
                      font-weight: 400;
                      margin: 0;
                      padding: 0;
                      @include middle();
                    }
                    .react-datepicker__year-option--selected_year {
                      background-color:  rgb(95, 183, 239);
                      .react-datepicker__year-option--selected {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            // 요일 row
            .react-datepicker__day-names {
              font-family: 'Noto Sans KR', sans-serif;
              display: grid;
              grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
              justify-content: space-between;
              align-items: flex-start;
              margin: 0 10px;

              .react-datepicker__day-name {
                width: 40px;
                margin: 0;
              }
            }
            // 달력 box 
            .react-datepicker__month {
              padding: 0;
              margin: 10px;

              .react-datepicker__week {
                font-family: 'Noto Sans KR', sans-serif;
                display: grid;
                grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
                justify-content: space-between;
                align-items: flex-start;

                .react-datepicker__day {
                  width: 40px;
                  height: 40px;
                  border-radius: 20px;
                  margin: 0;
                  @include middle();
                }
                .react-datepicker__day--keyboard-selected {
                  background-color: rgb(95, 183, 239);
                }
                .react-datepicker__day--outside-month {
                  color: #ccc;
                }
                .react-datepicker__day--in-selecting-range {
                  background-color: #ccc;
                }
                .react-datepicker__day--in-range {
                  background-color: rgb(205, 228, 242);
                }
                .react-datepicker__day--range-start,
                .react-datepicker__day--range-end {
                  background-color: rgb(43, 153, 222);
                }
                .react-datepicker__day--selecting-range-end {
                  background-color: rgb(95, 183, 239);
                }
              }
            }
          }
        }
      }
    }
  }
  .calender-icon {
    position: absolute;
    pointer-events: none; 
  }
}
